<template>
    <div class="socials">
        <a :href="image.lien" target="_blank         " v-for="(image,index) in images" v-bind:key="index" :title="image.alt" class="logo-container">
            <img :src="image.url" :alt="image.alt">
        </a>
        <a href="#" target="" class="logo-container">
            <img src="../../assets/close-envelope.png" alt="enveloppe">
        </a>

    </div>
</template>
<script>
export default {
    name:'socials',
    data: function(){
        return {
            socialList:{
                Facebook:"../../assets/facebook-logo.png"
            },
            images:[
                {url: require('../../assets/facebook-logo.png'), alt:"Facebook de Axel André",lien:"http://facebook.com"},
                {url: require('../../assets/linkedin-logo.png'), alt:"Linkedin de Axel André",lien:"https://www.linkedin.com/in/axel-andr%C3%A9-55b527158/"}
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
//Variables
@import "../../assets/var";
$height:200px;


.socials{
    background-color: #fff;
    width: 30px;
    height: $height;
    position: fixed;
    box-shadow: 0px 0px 20px 20px white;
    right: 90vw;
    top:50vh;
    transform: translate(50%,-50%);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    &:after{
        content:"";
        background-color: $primary-color;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        mix-blend-mode: screen;
        pointer-events: none;
    }
        img{
            width: 100%;
        }
    .logo-container{
        position: relative;
        transition: .5s all;

        span{
            transition: .3s width,.6s  background-color;
            width: 0;
            color: white;
            z-index: -1;
            left: 25px;
            background-color: $primary-color;
            top:0;
            display: inline-block;
            padding: 6px;
            position: absolute;
            background-color: transparent;

        }
        &:hover{
            opacity: .5;

            span{
                transition: .3s all;
                background-color: $primary-color;
                width: 100px;
            }
        }
    }

    }
    @media (max-width: $first-breakpoint){
        .socials{
            position: absolute;
            .logo-container{
                width: 30px;
            }
            height: 30px;
            width: 200px;
            flex-direction: row;
            top: 0vh;
            right: 63vw;
            span{
                display: none;
            }
            img{
                height: 100%;
                width: auto;
            }
        }
    }

</style>
