<template>
    <div>
        <mini-banner/>
        <div class="formation">
            <div class="circle"><span>2013</span>Stage de 2 semaines - <b>Infographie</b>
                <small>Uniforme Diffusion</small>
            </div>
            <hr>
        </div>
        <div class="formation">
            <div class="circle"><span>2017</span>Stage de 2 semaines - <b>Infographie</b>
                <small>Ouvrir Les Yeux</small>
            </div>
            <hr>
        </div>
        <div class="formation">
            <div class="circle"><span>2018</span> Stage de 2 mois - <b>Développement Web</b>
                <small>Let's Walk</small>
            </div>
        </div>

    </div>
</template>
<script>
    import miniBanner from '../../components/miniBanner.vue'

    export default {
        components: {
            miniBanner
        },
        layout:"App",
        data : function(){
            return{



            }
        }

    }
</script>
<style lang="scss">
    @import "../../assets/var";

    $circleRadius: 30px;
    .circle {
        padding-left: $circleRadius;
        padding-right: $circleRadius;
        display: inline-block;
        margin: auto;
        margin-top: 40px;
        font-size: $circleRadius/2;
        height: $circleRadius*2;
        line-height: $circleRadius*2;
        border-radius: $circleRadius+10;
        color: $primary-color;
        background-color: lighten($primary-color, 90%);
        border: 1px solid $primary-color;
        transition: .3s all;
        text-shadow: 0px 0px 0px darken($primary-color, 20%);
        cursor: pointer;
        &:hover {
            background-color: $primary-color;
            color: white;
            span {
                width: 0;
                opacity: 0;
            }
            small {
                transition: .4s opacity .2s, .2s width;
                color: white;
                width: 150px;
                opacity: 1;

            }
        }
    }

    .formation {
        span {
            transition: .3s all;
            display: inline-block;
            font-weight: lighter;
            color: lighten($primary-color, 0%);
            margin-right: 10px;
            width: 50px;

            &:after {
                transition: .3s all;
                content: '//';
                margin-left: 10px;
            }

        }
        small {
            transition: .4s opacity, .2s width .2s;
            display: inline-block;
            font-weight: lighter;
            color: lighten($primary-color, 10%);
            margin-right: 10px;
            width: 0;
            line-height: 0;
            opacity: 0;

            &:before {
                transition: .3s all;
                content: '//';
                margin-right: 10px;
            }

        }
        hr {
            width: 50%;
            border: 1px solid lighten($primary-color, 80%);
            margin-top: 40px;
        }
    }

    @media (max-width: $first-breakpoint) {
        $circleRadius: 25px;
        .circle {
            padding-left: $circleRadius;
            padding-right: $circleRadius;
            display: inline-block;
            margin: auto;
            margin-top: 40px;
            font-size: $circleRadius/2;
            height: auto;
            line-height: $circleRadius*1.5;
            border-radius: $circleRadius+10;
            color: $primary-color;
            background-color: lighten($primary-color, 30%);
            border: 1px solid $primary-color;
            transition: .3s all;
            text-shadow: 0px 0px 0px darken($primary-color, 20%);
            cursor: pointer;
            &:hover {
                background-color: $primary-color;
                color: white;
                span {
                    width: 0;
                    opacity: 0;
                }
                small {
                    transition: .4s opacity .2s, .2s width;
                    color: white;
                    width: 100px;
                    opacity: 1;

                }
            }
        }
    }
</style>