<template>
  <div class="skills">
    <div class="title">
      <h1>Compétences</h1>
    </div>
    <div class="skill_wrapper">
      <img src="../../assets/img/devSkills.jpg" alt="mes compétences">
      <img src="../../assets/img/graphSkills.jpg" alt="mes compétences">
    </div>
    <cv-button :link="cvUrl"/>
  </div>
</template>

<script>
import cvButton from "../../components/cvButton.vue";
import client from "~/plugins/contentful";
export default {
  // FETCH MY NEW CV
  asyncData({ params, error }) {
    return client
      .getEntries({
        content_type: "cv"
      })
      .then(entries => {
        return {
          cvUrl: entries.items[0].fields.cv.fields.file.url
        };
      })
      .catch(e => console.log(e));
  },
  // BASIC INFORMATIONS
  name: "skills",
  layout: "new",
  components: {
    cvButton
  },
  head: {
    title: "Compétences ::"
  }
};
</script>

<style scoped lang="scss">
@import "../../assets/scss/main";
.skills {
  background-color: white;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Helvetica Neue";
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 50px;
  .skill_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 100px;
    grid-gap: 150px;
    @media screen and (max-width: 635px) {
      grid-template-columns: 1fr;
      grid-gap: 20px;
      padding: 50px 20px;
    }
    img {
      width: 100%;
      animation: slideLeft 1s forwards;
      & + img {
        animation: slideRight 1s forwards;
      }
    }
  }
  .title {
    text-align: center;
    padding: 50px;
    font-size: 25px;
    padding-left: 0;
    padding-right: 0;
    @media screen and (max-width: 635px) {
      padding-bottom: 0;
    }
    @media screen and (max-width: 460px) {
      font-size: 20px;
    }
    h1 {
      margin: 0 auto;
      margin-bottom: 50px;
      color: black;
      display: inline-block;
      position: relative;
      @media screen and (max-width: 635px) {
        margin-bottom: 0;
      }
      @media screen and (max-width: 460px) {
        margin-top: 40px;
      }

      &::before {
        content: "";
        height: 7px;
        animation: filling 1s forwards;
        background-color: $primary-color;
        left: 3px;
        position: absolute;
        bottom: -4px;
      }
      &::selection {
        text-shadow: 3px 3px 0px $primary-color;
      }
    }
  }
  @keyframes filling {
    from {
      width: 0;
    }
    to {
      width: 80px;
    }
  }
  $slideOffset: 50px;
  @keyframes slideLeft {
    from {
      transform: translateX(-$slideOffset);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slideRight {
    from {
      transform: translateX($slideOffset);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
</style>