<template>
    <div class="skills">
        <div class="wip">
            Work in progress !
        </div>
        <font-awesome-icon icon="coffee" />
    </div>
</template>

<script>
    export default {
        name: "skills",
        layout: 'new',
        components:{
            fontAwersomeIcon
        }
    }
</script>

<style scoped lang="scss">
    .skills {
        background-color: white;
        min-height: 100vh;
        overflow: hidden;

        .wip {
            font-size: 50px;
            margin-top: 40vh;
            font-weight: bold;
            text-align: center;
            font-family: "Helvetica Neue";

        }
    }
</style>