<template>
<router-link to="/projets">
  <div class="backButton">&larr;</div>
</router-link>
</template>
<script>
export default {
  name: "backButton"
};
</script>
<style lang="scss" scoped>
.backButton {
    color: white;
    position: fixed;
    padding: 30px;
    font-size: 40px;
    left: 0;
    top: 0;
    text-shadow: 0px 0px 30px #000;
}
</style>
