<template>
  <div class="banner" v-if="titre != 'accueil'" :style="style">
      <span>{{titre}}</span>
  <img v-if="titre == 'lol'" src="../assets/home.jpg" alt=""/>
  <img v-if="titre == 'compétences'" src="../assets/skills.jpg" alt=""/>
  </div>
</template>

<script>
export default {
    
    name: 'banner',
  props: {
      titre: String
  },
  data: function (){
      return {
      }
  },
  computed: {
      style () {
          
          return '../assets/'+ this.titre+'.jpg';
        
  }
}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    img{
        position: absolute;
        top: 0;
        display: block;
        width: 100vw;
        height: 100vh;

    }
 .banner{
     background-size:cover;
     z-index: 10;
     width: 100vw;
     position: absolute;
     background-color: #fff;
     height: 100vh;
 }
    .animated-1{
    animation: 2s passing ease-in-out forwards
    }
    .animated-2{
    animation: 2s passingBis ease-in-out forwards;
    }
span{
    z-index: 11;
    position: relative;
    text-shadow: 5px 9px 18px rgba(0,0,0,0.31);
    color: white;
    line-height: 100vh;
    pointer-events: none;
    font-size: 10em;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}
@keyframes passing {
     0%{
        transform: translateY(-100vh)
    }
    33%{
        transform: translateY(0vh)
    }
     66%{
        transform: translateY(0vh)
    }
    100%{
        transform: translateY(100vh);
    }
}
@keyframes passingBis {
    0%{
        transform: translateY(-100vh)
    }
    33%{
        transform: translateY(0vh)
    }
     66%{
        transform: translateY(0vh)
    }
    100%{
        transform: translateY(100vh);
    }
}
</style>
