<template>
    <span href="#" class="cv">{{text}}</span>
</template>
<script>
    export default {
        name: "daButton",
        props: {
            text: {
                type: String
            },
            url: {
                type: String,
                default: "#"
            }
        }
    }
</script>
<style lang="scss">
    @import "../assets/var";

    .cv {
        padding: 10px 15px;
        border: 2px solid $primary-color;
        font-family: "Avenir";
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        color: $primary-color;
        position: relative;
        background-color: transparent;
        transition: .3s all;
        &:after {
            width: 100%;
            content: '';
            height: 0%;
            background-color: $primary-color;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            transition: .3s all;

        }
        &:hover {
            &:after {
                height: 100%;
            }
            color: white;
        }

    }
</style>