<template>
  <div>
    <div class="button">
      <a href="#">
        <a alt='CV de Axel André' :href="link" class="button-text">
          télécharger mon CV
          <span class="button-icon">
            <font-awesome-icon icon="arrow-alt-circle-down" color="white"/>
          </span>
        </a>
      </a>
    </div>
  </div>
</template>
<script>
import { library } from "@fortawesome/fontawesome-svg-core";
import { faArrowAltCircleDown } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
library.add(faArrowAltCircleDown);
export default {
  // BASIC INFORMATIONS
  name: "cv_button",
  layout: "new",
  components: {
    FontAwesomeIcon
  },
  props:{
      link:String
  }
};
</script>
<style scoped lang="scss">
@import "../assets/scss/main";

.button {
  &-text {
    color: white;
    background-color: $primary-color;
    font-size: 15px;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    text-transform: uppercase;
    padding-right: 0;
    text-decoration: none;
  }
  &-icon {
    margin-left: 10px;
    background-color: $primary-color;
    background-color: darken($primary-color, 10%);
    padding: 9px;
  }
}
</style>