<template>
    <div class="hamburgerContainer" :class="isActive ? 'active':''">
        <div class="hamburger"></div>
    </div>
</template>

<script>
    export default {
        name: "hamburger",
        props: {
                isActive:Boolean
        },
        data:()=>{
            return{
                listeCat:{}
            }
        },
        created(){
          //this.fetchAPI()
        },
        methods:{


        }
    }
</script>

<style scoped lang="scss">
    .hamburger {
        height: 3px;
        background-color: white;
        width: 37px;
        margin-left: auto;
        position: relative;
        transition: .3s all;
    }

    .hamburgerContainer {
        pointer-events: initial;
        z-index: 11;
        cursor: pointer;
        mix-blend-mode: exclusion;
        position: fixed;
        top: 37px;
        right: 37px;
        transition: .3s all;
    }

    .hamburgerContainer:hover .hamburger {
        width: 45px;
    }
    .hamburgerContainer.active .hamburger{
        background-color: rgba(0, 0, 0, 0);
    }

    .hamburgerContainer:hover .hamburger::before {

        width: 45px;
    }
    .hamburgerContainer.active .hamburger:before{
        width: 45px;
        transform-origin: right center;
        transform: rotate(45deg);
    }
    .hamburgerContainer.active ::after{
        margin-top: -7px;
        transform-origin: right center;
        transform: rotate(-45deg);
    }
    .hamburger::after {
        content: '';
        position: absolute;
        top: 0px;
        right: 0;
        height: 3px;
        background-color: white;
        width: 45px;
        margin-top: 12px;
        transition: .3s all;
    }

    .hamburger::before {
        content: '';
        position: absolute;
        top: 0px;
        right: 0;
        height: 3px;
        background-color: white;
        width: 25px;
        margin-top: 24px;
        transition: .3s all;
    }

    .hamburgerContainer {
        height: 50px;
        margin-left: auto;
        width: 50px;
    }
</style>