<template>
    <div>
        <div class="content">
            <miniBanner/>
            <div id="allSkills">
                <cv/>
                <div class="categories">
                    <h2><span v-for="(c,i) in  categories" :key="i" @click="setCurrentCategorie(i,c)"
                              :class="focusedCategorie == i ? 'active' : ''">{{i}}</span>
                    </h2>
                </div>

                <transition-group name="fade" mode="out-in">
                    <div class="dev" v-for="(l,value) in fullCategorie" :key="l">
                        <h3>{{value}}</h3>
                        <div class="skills front-end">
                            <skill v-for="(skill, index) in skills[l]" v-bind:key="index" :name="skill.name"
                                   :percent="skill.percent" :image="skill.image"/>
                        </div>
                    </div>

                </transition-group>
            </div>
        </div>
    </div>

</template>
<script>
    import miniBanner from '../../components/miniBanner.vue'
    import skill from '../../components/skill.vue'
    import cv from '../../components/cv.vue'

    export default {
        data: function () {
            return {
                liste:[
                    {name:"Yeah"},
                    {name:"LOL"},
                    {name:"Encore ?"},
                ],
                categories: {
                    Design: {
                        "": "design",
                    },
                    Développement: {
                        "Front-end": "frontEnd",
                        "Back-end": "backEnd"
                    }, Audiovisuel: {
                        "": "audiovisuel",
                    },
                },
                skills: {
                    "frontEnd": [
                        {
                            name: "html 5",
                            percent: 95,
                            image: require("../../assets/html.png")
                        },
                        {
                            name: "css 3",
                            percent: 95,
                            image: require("../../assets/css-3.png")
                        },
                        {
                            name: "Javascript",
                            percent: 70,
                            image: require("../../assets/js.png")
                        },
                        {
                            name: "jQuery",
                            percent: 90,
                            image: require("../../assets/jquery.png")
                        },
                        {
                            name: "Bootstrap",
                            percent: 80,
                            image: require("../../assets/bootstrap.png")
                        },
                        {
                            name: "Bulma",
                            percent: 90,
                            image: require("../../assets/bulma.png")
                        },
                    ],
                    "backEnd": [
                        {
                            name: "PHP",
                            percent: 80,
                            image: require("../../assets/php.png")
                        },
                        {
                            name: "Laravel",
                            percent: 70,
                            image: require("../../assets/laravel.png")
                        },
                        {
                            name: "VueJS",
                            percent: 90,
                            image: require("../../assets/vuejs.png")
                        },
                        {
                            name: "ReactJS",
                            percent: 80,
                            image: require("../../assets/reactjs.png")
                        },
                        {
                            name: "NodeJS",
                            percent: 50,
                            image: require("../../assets/node.png")
                        },
                    ],
                    "design": [
                        {
                            name: "Photoshop",
                            percent: 90,
                            image: require("../../assets/photoshop.png")
                        },
                        {
                            name: "Illustrator",
                            percent: 80,
                            image: require("../../assets/illustrator.png")
                        },
                        {
                            name: "InDesign",
                            percent: 70,
                            image: require("../../assets/indesign.png")
                        },
                        {
                            name: "Sketch",
                            percent: 90,
                            image: require("../../assets/sketch.png")
                        },

                    ],
                    "audiovisuel": [
                        {
                            name: "After Effects",
                            percent: 80,
                            image: require("../../assets/after.png")
                        },
                        {
                            name: "Premiere Pro",
                            percent: 90,
                            image: require("../../assets/premiere.png")
                        },
                        {
                            name: "Audition",
                            percent: 90,
                            image: require("../../assets/audition.png")
                        },

                    ]
                }

                ,
                focusedCategorie: "Design",
                fullCategorie: {}

            }
        },
        name: 'Competences',
        layout:"App",
        components: {
            miniBanner,
            skill,
            cv
        },
        beforeMount() {
            let that = this;
            setTimeout(function(){
            that.initView();
            }, 10);
        },
        methods: {
            initView: function () {
                this.fullCategorie = this.categories.Design;
            },
            setCurrentCategorie: function (i, cat) {
                this.focusedCategorie = i;
                this.fullCategorie = cat;
            }
        }
    }
</script>
<style lang="scss" scoped>
    @import '../../assets/var';

    .content {
        height: auto;
    
        .categories {

            h2 {

                span {
                    user-select: none;
                    cursor: pointer;
                    font-size: 15px;
                    color: #7b7b7b;
                    transition: .3s all ease-out;
                    margin-right: 20px;
                    outline: 0;
                    &.active {
                        color: black;
                        font-size: 30px;
                    }
                }
            }
        }

        p {
            padding: $second-offset;
            text-align: justify;
            &::selection {
                background: $primary-color;
                color: white;
            }
        }
        h2 {
            text-transform: capitalize;
            text-align: left;
            font-size: 30px;
            padding-top: 10px;
            padding-left: $second-offset;
        }
        h3 {
            margin-bottom: 25px;
            margin-top: 30px;

            text-align: left;
            margin-left: $second-offset;
            color: $primary-color;
            font-weight: 500;
        }
        .front-end {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: $second-offset;

            div {
                text-transform: uppercase;
                font-weight: bold;
                background-color: white;
                width: 100px;
                height: 75px;
                margin-right: 20px;
                transform-origin: left top;
                transition: .3s all;
                margin-top: 20px;
                margin-bottom: 20px;
                &:hover {
                    width: 100px;
                    height: 75px;
                    margin-top: 0px;
                }
                img {
                    height: 100%;
                }
                $class-slug: bar !default;

                &:hover {

                    @for $i from 1 through 100 {

                        .#{$class-slug}-#{$i}:before {
                            color: lighten($primary-color, 10%);
                            content: $i;
                            background-color: $primary-color;
                            position: absolute;
                            animation: fill-#{$i} 1s forwards;
                            height: 100%;
                            top: 0;
                            left: 0;
                        }
                    }
                }
                &:hover .status {
                    opacity: 1;
                    height: 10px;
                }
                .status {
                    margin: 10px 0px 0px;
                    height: 10px;
                    border: 2px solid $primary-color;
                    position: relative;
                    opacity: 0;
                    height: 0px;
                    @for $i from 1 through 100 {

                        &.#{$class-slug}-#{$i}:before {
                            content: "#{$i} %";
                            color: lighten($primary-color, 40%);
                            font-size: 10px;
                            width: percentage($i/100);
                            background-color: $primary-color;
                            position: absolute;
                            height: 100%;
                            top: 0;
                            left: 0;
                        }

                    }

                }

            }
        }

    }

    .dev {
        margin-bottom: 25px;
    }

    $animationName: fill;
    @for $i from 1 through 100 {

        @keyframes#{$animationName}-#{$i}{
            from {
                width: 0%;
            }
            to {
                width: percentage($i/100);
            }

        }
    }

    @media (max-width: $first-breakpoint) {
        .categories {
            h2 {
                padding: 0;
                span {
                    display: block;
                    text-align: center;
                    padding-left: 0;
                    margin-bottom: 30px;
                }
            }
        }
        .content {
            h3 {
                text-align: center;
                color: $primary-color;
                margin: 0;
                margin-bottom: 25px;

            }

        }

        .skills.front-end {
            width: 100vw;
            margin-left: 0;
            justify-content: space-around;
            div {
                width: 100px;
                height: 75px;
                margin-top: 0px;
                margin-bottom: 60px;
                margin-right: 0;
                &:hover {
                    @for $i from 1 through 100 {

                        .bar-#{$i}:before {
                            color: white;
                            content: $i;
                            background-color: $primary-color;
                            position: absolute;
                            height: 100%;
                            animation: none;
                            top: 0;
                            left: 0;

                        }
                    }
                }
                .status {
                    opacity: 1 !important;
                    height: 10px !important;
                    @for $i from 1 through 100 {

                        .bar-#{$i}:before {
                            color: white;
                            content: $i;
                            background-color: $primary-color;
                            position: absolute;
                            animation: fill-#{$i} 1s forwards;
                            height: 100%;
                            top: 0;
                            left: 0;

                        }
                    }
                }
            }
        }
    }

    .fade-enter-active, .fade-leave-active {
        transition: all .5s;

    }

    .fade-enter-active {
        // transition-delay: 1s;
        transition-delay: .5s;

    }

    .fade-enter /* .fade-leave-active below version 2.1.8 */
    {
        transform: translateX(30px);
        opacity: 0;
    }

    .fade-leave-to {
        opacity: 0;
        transform: translateX(30px);
    }

</style>


