<template>
    <div>
        <button @click="toggleMenu" class="hamburger hamburger--stand" :class="{'is-active':menuIsActive}"
                type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
        </button>

        <div class="menu" v-bind:class="{active : menuIsActive}">
            <ul @click="changePage">
                <nuxt-link v-for="(m,i) in menuInfo" v-bind:key="i" :to="m">
                    <li>{{i}}</li>
                </nuxt-link>
            </ul>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'Menu',
        data: function () {
            return {
                menuIsActive: false,
                menuInfo: {
                    Accueil: "/",
                    Réalisations: "/realisations",
                    Compétences: "/competences",
                    Expériences: "/experiences",
                    Formations: "/formations",
                    Contact: "/contact"

                }

            }
        },
        methods: {
            toggleMenu: function () {
                this.menuIsActive = !this.menuIsActive;
            },
            changePage: function () {
                this.animated = !this.animated;
                this.menuIsActive = false;
            }
        }
    }
</script>
<style lang="scss">
    @import "../assets/var";

    $primary: $primary-color;
    $offset-hover: 30px;

    .hamburger, .hamburger:hover {

        padding: 30px;
        background-color: $primary;
        top: 0;
        position: fixed;
        right: 0;
        z-index: 2;
        &.is-active {

        }
    }

    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {

        background-color: white;
    }

    .menu {
        width: 100vw;
        height: 100vh;
        background-color: $primary;
        position: fixed;
        z-index: 1;
        left: 100vw;
        transition: .5s all ease-in-out;
        color: white;
        transform: translateX(0);

        &.active {
            transform: translateX(-100vw);
        }
        ul {
            padding: 0;
            list-style: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            a {
                outline: 0;
                text-decoration: none;

                li {
                    position: relative;
                    color: #FFF;
                    text-align: left;
                    display: block;
                    margin: auto;
                    font-size: 3rem;
                    margin-bottom: 20px;
                    transition: .3s all;
                    &:before {
                        content: '';
                        height: 5px;
                        width: 0;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: rgba(255, 255, 255, 0.5);
                        transition: .3s all;

                    }
                    &:hover {
                        transform: translateX(30px);
                        &:before {
                            width: 20px;
                            left: - $offset-hover;
                        }
                    }
                }
            }
            .router-link-exact-active {
                li {
                    font-weight: bold;
                    transform: translateX(30px);
                    &:before {
                        background-color: white;
                        width: 20px;
                        left: - $offset-hover;
                    }

                }
            }

        }
    }

    @media (max-width: $first-breakpoint) {
        .hamburger {
            transform-origin: right top;
            transform: scale(.7);
        }
        .menu {

            ul a li {
                font-size: 2rem;
            }
        }

    }
</style>

