<template>
    <div>
        <div :class="$route.name" class="mini-banner">
            <div class="text"><span>{{$route.name}}</span></div>
            <div class="red-overlay"></div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'miniBanner',
        data: function () {
            return {
                skills: "../assets/skills.jpg",
            }
        }
    }
</script>
<style lang="scss" scoped>
    @import "../assets/var";

    $offset: $general-offset;
    $primary: #979797;
    $borderWidth: 5px;

    .mini-banner {

        &.réalisations {
            background-image: url('../assets/reals.jpg');
        }
        &.compétences {
            background-image: url('../assets/skills.png');
        }
        &.formations {
            background-image: url('../assets/formations.png');
        }
        &::selection {
            background: white;
            color: $primary-color;
        }
        .text {
            color: white;
            filter: grayscale(100%);

            .span {
                mix-blend-mode: exclusion;

            }
        }

        border: $borderWidth solid $primary-color;
        text-transform: capitalize;
        font-size: 30px;
        line-height: 71px - $borderWidth*2;
        margin-left: $offset;
        margin-top: $offset;
        margin-right: $offset + 100px;
        text-shadow: 5px 9px 18px rgb(0, 0, 0);
        mix-blend-mode: exclusion;
        color: white;
        position: relative;
        overflow: hidden;
        text-transform: uppercase;
        font-family: Montserrat;
        font-weight: bold;
        transition: .3s all;
        background-size: cover;
        background-position-y: 70%;
        &:hover {

            background-position-y: 71%;
        }

    }

    .red-overlay {
        background-color: lighten($primary-color, 10%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        mix-blend-mode: color;
    }

    img {
        transition: .3s all;
        filter: grayscale(100%);
        transform: translateY(-70%);
        z-index: -2;
        position: absolute;
        top: 0;
        display: block;
        width: 100%;

    }

    @media (max-width: $first-breakpoint) {
        .mini-banner {
            margin-top: 116px;
            margin-right: 16px;
            margin-left: 16px;
            background-image: url('../assets/skills.jpg');
            background-size: cover;
            background-blend-mode: exclusion;
            background-position-y: 100%;
            &:hover {

                background-position-y: 95%;
            }
        }
        img {
            display: none;
        }
    }

</style>
