<template>
    <div class="pageContainer">
        <hamburger :isActive="isMenuActive" @click.native="changeMenuStatus"></hamburger>
        <div class="menuContainer" :class="background">
            <div class="menu" :class="isMenuActive ? 'active' : ''">
                <ul >
                    <li v-for="index in 1" :key="index">
                        <nuxt-link @click.native="changeMenuStatus" to="/">Accueil</nuxt-link>
                    </li>
                    <li>
                        <nuxt-link @click.native="changeMenuStatus" to="/projets">Projets</nuxt-link>
                    </li>
                    <li>
                        <nuxt-link @click.native="changeMenuStatus" to="/competences">Compétences</nuxt-link>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-bg"></div>
    </div>
</template>

<script>
    import hamburger from "../components/hamburger"

    export default {
        name: "modal",
        components: {
            hamburger
        },
        props: {
            isMenuActive: Boolean,
            background:String
        },
        methods: {
            changeMenuStatus: function () {
                this.isMenuActive = !this.isMenuActive;
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../assets/scss/main.scss";

    div {
        color: white;
    }

    .pageContainer {
        pointer-events: none;
        position: absolute;
        width: 100vw;
        height: 100vh;
    }

    .menuContainer {
        position: fixed;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        z-index: 5;
        top: 0;
        left: 0;

    }
    .menuContainer.dark .menu{
        background-color:black ;
        & li a {
            color: white;
        }
    }
    .menu {
        pointer-events: initial;
        position: absolute;
        background-color: white;
        height: 100vh;
        width: 100vw;
        z-index: 2;
        -webkit-transition: all .7s;
        -moz-transition: all .7s;
        -ms-transition: all .7s;
        -o-transition: all .7s;
        transition: all .7s;
        -webkit-transform: translateX(110vw);
        -moz-transform: translateX(110vw);
        -ms-transform: translateX(110vw);
        -o-transform: translateX(110vw);
        transform: translateX(110vw);
        &.active {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
            &::before {
                width: 0;
            }
        }
        &::before {
            transition: 1s all;
            content: '';
            width: 10vw;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: $primary-color;
            z-index: 1;
        }
        ul {
            list-style: none;
            width: 200px;
            padding: 0;
            margin: auto;
            margin-top: 200px;

            li {
                margin-bottom: 20px;
                &:hover a:before{
                    height: 20px;
                    border-radius: 0;
                }
                a {
                    font-family: "Helvetica Neue";
                    font-size: 50px;
                    text-decoration: none;
                    color: black;
                    position: relative;
                    &:before {
                        transition: .3s all;
                        content: '';
                        background-color: $primary-color;
                        height: 5px;
                        width:5px;
                        border-radius: 7px;
                        top: 50%;
                        left: -20px;
                        transform: translateY(-50%);
                        position: absolute;
                        font-weight: bold;

                    }
                    &.nuxt-link-exact-active {
                        &:before {
                            content: '';
                            background-color: $primary-color;
                            height: 40px;
                            top: 50%;
                            left: -20px;
                            transform: translateY(-50%);
                            position: absolute;
                            font-weight: bold;
                            color: $primary-color;
                            border-radius: 0;

                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 360px){
        .menu ul li a{
            font-size: 40px;
        }
    }
</style>