<template>
    <transition name="fade" tag="p" class="transition" v-if="true">

    <div class="popUp" >
            <div class="popUp-body">
                <span class="close">&#10005;</span>
            </div>
            <div class="popUp-background" :style="{backgroundColor:background}"></div>

        </div>
    </transition>
</template>

<script>
    export default {
        name: "popUp",
        props: {
            background: {
                type: String,
                default: "white"
            },
            isActive: {
                type: Boolean,
                default: false
            }
        },

    }
</script>

<style lang="scss">
    $padding: 20px;
    .popUp {
            z-index: 20;

        .popUp-body {
            background-color: white;
            position: fixed;
            top: $padding;
            left: $padding;
            right: $padding;
            bottom: $padding;
            border-radius: 3px;
            z-index: 21;
            border: 3px solid red;
            .close {
                font-size: 50px;
                margin-left: auto;
                margin-right: 0;
                display: block;
                width: 40px;
                padding: 20px;
                color: red;
                z-index: 21;


            }

        }

        .popUp-background {
            position: fixed;
            height: 100vh;
            width: 100vw;
            z-index: 9;
            opacity: .50;
        }
    }
    .fade-enter-active, .fade-leave-active *{
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;

    }
    .fade-enter */* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -moz-transform:translateY(-20px) ;
        -ms-transform: translateY(-20px);
        -o-transform:translateY(-20px) ;
        transform: translateY(-20px);
    }

    .fade-leave-to *{
        opacity: 0;
        -webkit-transform: translateY(20px);
        -moz-transform:translateY(20px) ;
        -ms-transform: translateY(20px);
        -o-transform:translateY(20px) ;
        transform: translateY(20px);
    }
</style>