<template>
    <div>
        <div>
            <div class="img-container">
                <img :src="project.img" :alt="project.name">
                <div class="small-container">
                <small v-for="(p,i) in project.categorie">{{p.charAt(0).toUpperCase() + p.slice(1)}}</small>
                </div>
            </div>
            <span>{{project.name}}</span>
        </div>
    </div>
</template>
<script>
    export default {
        name: "projectItem",
        props: {
            project: {
                type: Object,
                default: null
            }
        }
    }
</script>
<style lang="scss">
    @import "../assets/var";

    .list-complete-item {
        cursor: pointer;
        position: relative;
        width: 200px;
        text-align: center;
        transition: all .3s;
        overflow: hidden;
        border: 2px solid #d4d4d4;
        box-shadow: 0px 30px 20px -30px lighten($primary-color, 20%);
        margin-top: 20px;
        margin-bottom: 50px;
        transform: translateY(-5px);
        &+&{
        margin-left: $general-offset;
        }
        &:hover {
            transform: translateY(0px);
            box-shadow: 0px 10px 10px -10px lighten($primary-color, 20%);

        }
        &:hover {
            .img-container {
                img {
                    transform: scale(1.1);
                    opacity: .9;
                }
                small{
                   opacity: 0;
                }
            }
        }
        .img-container {
            height: 200px;
            img {
                transition: all .3s;
                height: 100%;
            }
            .small-container{
                position: absolute;
                top: 100px;
                right:10px ;
                small{
                    transition: all .3s;
                    padding: 5px 10px;
                    background-color: #32d97b;
                    color: white;
                    border-radius:30px ;
                    display: inline-block;
                    margin-left: 5px;
                }
            }
        }
        span {
            border-top: 2px solid #d4d4d4;
            text-transform: uppercase;
            box-sizing: border-box;
            font-size: 15px;
            font-weight: 600;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 25%;
            padding: 15px 10px 45px;
            display: inline-block;
            color: $primary-color;
            position: absolute;
            background-color: white;

        }

    }
</style>