<template>
  <div class="projects-grid">
    <transition name="fade">
    </transition>
    <router-link
      v-for="(p,index) in projects"
      class="project"
      v-if="isDisplay(p.fields.categories)"
      :key="index"
      :id="'project'"
      :to="'/projets/' + p.fields.slug"
    >
      <img :src="p.fields.images[0].fields.file.url" :alt="p.fields.title">
      <div class="project-text">{{p.fields.title}}</div>
      <div class="project-categories">
        <div class="category" v-for="(c,d) in p.fields.categories" :key="d">{{c.fields.categorieName}}</div>
      </div>
    </router-link>
    <router-link
      v-for="(p,index) in projects"
      class="project"
      v-if="categories.length == 0"
      :key="index"
      :id="'project-'+index"
      :to="'/projets/' + p.fields.slug"
    >
      <img :src="p.fields.images[0].fields.file.url" :alt="p.fields.title">
      <div class="project-text">{{p.fields.title}}</div>
      <div class="project-categories">
        <div class="category" v-for="(c,d) in p.fields.categories" :key="d">{{c.fields.categorieName}}</div>
      </div>
    </router-link>
  </div>
</template>

<script>
import pop from "./modal/pop";
export default {
  name: "projects_grid",
  components: {
    pop
  },
  props: {
    projects: Array,
    categories: Array
  },
  methods: {
    isDisplay(categorie) {
      let filteredCategories = categorie.map(e => e.fields.categorieName);
      return filteredCategories.some(e => this.categories.indexOf(e) != -1);
    }
  },
  data: () => {
    return {
      isPopUpActive: false,
      modal: {
        content: String,
        title: String
      }
    };
  }
};
</script>

<style scoped lang="scss">

@import "../assets/scss/main";

.projects-grid {
  width: 19.5vw * 3;
  min-height: 700px;
  //border:1px solid blue;
  margin: 100px auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin-bottom: 0;

  .project {
    overflow: hidden;
    cursor: pointer;
    background-color: $primary-color;
    margin: 0;
    width: 19vw;
    height: 19vw;
    margin-bottom: 1vw;
    opacity: 0;
    transform: translateY(20px);

    &:hover{
      img {
        opacity: 0.4;
        transform: scale(1.1) translateX(-50%);
      }
      .project-text {
        opacity: 1;
      }
      .project-categories {
        transform: translateY(0);
        opacity: 1;
        .category{
          opacity: 1;
        }
      }
    }
    @media screen and (max-width:1000px){
      img {
        opacity: 0.4 !important;
        transform: scale(1.1) translateX(-50%) !important;
      }
      .project-text {
        opacity: 1 !important;
      }
      .project-categories {
        transform: translateY(0) !important;
        opacity: 1 !important;
        .category{
          opacity: 1 !important;
        }
      }
    }
  
    .project-categories {
      transition: 0.3s all;
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      bottom: 0px;
      padding: 1vw;
      transform: translateY(60px);
      opacity: 1;
      user-select: none;
      .category {
        margin-right: 1vw;
        padding: 10px;
        border-radius: 2px;
        letter-spacing: 1.92px;
        color: #404040;
        font-size: 0.8vw;
        font-family: "Helvetica Neue";
        text-transform: uppercase;
        background-color: $lighter-color;
        margin: 5px;
        opacity: 0;
        transition: all .3s;
      }
    }
    .project-text {
      top: 0;
      border-color: transparent;
      position: absolute;
      font-family: "Helvetica Neue";
      font-weight: Bold;
      padding: 25px;
      color: white;
      font-size: 3vw;
      opacity: 0;
      transition: 0.4s all;
      width: 100%;
      box-sizing: border-box;
      display: block;
      hyphens: auto;
    }
    img {
      transform-origin: left center;
      transition: 0.4s all;
      opacity: 1;
      height: 100%;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
  #project {
    animation: appear 0.6s 0.3s * (1.61 * (1/2)) forwards;
  }
  @for $i from 0 through 100 {
    @if ($i<15) {
      #project-#{$i} {
        animation: appear 0.6s 0.3s * (1.61 * ($i/2)) forwards;
      }
    } @else {
      #project-#{$i} {
        animation: appear 0.6s 0.3s * (1.61 * (15/2)) forwards;
      }
    }
  }
}

@keyframes appear {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes categoryAppear {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .projects-grid {
    width: 19.5vw * 4;
    .project {
      width: 19vw * 2;
      height: 19vw * 2;
      .project-text {
        font-size: 6vw;
      }
      margin-bottom: 2vw;
      .project-categories {
        padding: 2vw;
        .category {
          font-size: 2vw;
          margin-top: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .projects-grid {
    width: 19.5vw * 4;
    justify-content: center;
    .project {
      width: 19vw * 4;
      height: 19vw * 4;
      .project-text {
        font-size: 10vw;
      }
      margin-bottom: 4vw;
      .project-categories {
        padding: 4vw;
        .category {
          font-size: 4vw;
          margin-top: 5px;
        }
      }
    }
  }
}

.card {
  transition: all 0.5s;
}

.card-enter, .card-leave-to
        /* .card-leave-active for <2.1.8 */
 {
  opacity: 0;
  transform: scale(0);
}

.card-enter-to {
  opacity: 1;
  transform: scale(1);
}

.card-move {
  opacity: 1;
  transition: all 0.5s;
}
</style>