<template>
    <div class="sidebar">
        <div class="copyrights">
            <b>Axel-André</b> © Tous droits réservés - {{ new Date().getFullYear() }}
        </div>
        <socials/>
        <div class="coverage"></div>
    </div>
</template>

<script>
    import socials from './sidebar/socials.vue'

    export default {
        name: 'sideBar',
        props: {},
        components: {
            socials
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
    @import "../assets/var";


    .sidebar {
        position: fixed;
        width: 10vw;
        height: 100%;
        border-right: 2px solid $primary-color;
    }

    .copyrights {

        writing-mode: vertical-rl;
        transform: rotate(180deg);
        text-align: center;
        height: 100%;
        margin-left: 3vw;
        color: $primary-color;
    }

    @media (max-width: $first-breakpoint) {
        .sidebar {
            display: none;
            border-right: 0px solid $primary-color;
            position: relative;
            height: 59px;
            border-top: 2px solid $primary-color;
            top: 30px;
            width: 100%;
        }
        .copyrights {
            display: none;
        }
    }
</style>


