<template>
    <div class="skill">
        {{name}}
        <img :src="image" :alt="image">
        <div :class="'status bar-'+percent">
        </div>
    </div>
</template>
<script>
    export default {
        name: "skill",
        props: {
            percent: {
                type: Number
            },
            name: {
                type: String
            },
            image: {
                type: String
            }

        }
    }
</script>
<style lang="scss" scoped>
    @import "../assets/var";
    .skill{
        padding-top: 10px;
    }
    .content{
        p {
            padding: $second-offset;
            text-align: justify;
            &::selection {
                background: $primary-color;
                color: white;
            }
        }
        .cv {
            padding: 10px 15px;
            border: 2px solid $primary-color;
            font-family: "Avenir";
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            color: $primary-color;
            position: relative;
            background-color: transparent;
            transition: .3s all;
            top: 50px;
            &:after {
                width: 100%;
                content: '';
                height: 0%;
                background-color: $primary-color;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
                transition: .3s all;

            }
            &:hover {
                &:after {
                    height: 100%;
                }
                color: white;
            }

        }
        h2 {
            text-transform: capitalize;
            text-align: left;
            font-size: 30px;
            padding-top: 10px;
            padding-left: $second-offset;
        }
        h3 {
            text-align: left;
            margin-left: $second-offset;
            margin-bottom: 10px;
            color: $primary-color;
        }
        .front-end {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: $second-offset;

            div {
                text-transform: uppercase;
                font-weight: bold;
                background-color: white;
                width: 100px;
                height: 75px;
                margin-right: 20px;
                transform-origin: left top;
                transition: .3s all;
                margin-top: 20px;
                margin-bottom: 20px;
                &:hover {
                    width: 100px;
                    height: 75px;
                    margin-top: 0px;
                }
                img {
                    margin-top: 10px;
                    height: 100%;
                }
                $class-slug: bar !default;

                &:hover {

                    @for $i from 1 through 100 {

                        .#{$class-slug}-#{$i}:before {
                            color: lighten($primary-color, 10%);
                            content: $i;
                            background-color: $primary-color;
                            position: absolute;
                            animation: fill-#{$i} 1s forwards;
                            height: 100%;
                            top: 0;
                            left: 0;
                        }
                    }
                }
                &:hover .status {
                    opacity: 1;
                    height: 10px;
                }
                .status {
                    margin: 10px 0px 0px;
                    height: 10px;
                    border: 2px solid $primary-color;
                    position: relative;
                    opacity: 0;
                    height: 0px;
                    @for $i from 1 through 100 {

                        &.#{$class-slug}-#{$i}:before {
                            content: "#{$i} %";
                            color: lighten($primary-color, 100%);
                            font-size: 10px;
                            width: percentage($i/100);
                            background-color: $primary-color;
                            position: absolute;
                            height: 100%;
                            top: 0;
                            left: 0;
                        }

                    }

                }
        
            }
        }

    }

    $animationName: fill;
    @for $i from 1 through 100 {

        @keyframes#{$animationName}-#{$i}{
            from {
                width: 0%;
            }
            to {
                width: percentage($i/100);
            }

        }
    }

    @media (max-width: $first-breakpoint) {
        .skills.front-end {
            width: 100vw;
            margin-left: $general-offset;
            div {
                width: 100px;
                height: 75px;
                margin-top: 0px;
                margin-bottom: 60px;
                &:hover {
                    @for $i from 1 through 100 {

                        .bar-#{$i}:before {
                            color: white;
                            content: $i;
                            background-color: $primary-color;
                            position: absolute;
                            height: 100%;
                            animation: none;
                            top: 0;
                            left: 0;

                        }
                    }
                }
                .status {
                    opacity: 1 !important;
                    height: 10px !important;
                    @for $i from 1 through 100 {

                        .bar-#{$i}:before {
                            color: white;
                            content: $i;
                            background-color: $primary-color;
                            position: absolute;
                            animation: fill-#{$i} 1s forwards;
                            height: 100%;
                            top: 0;
                            left: 0;

                        }
                    }
                }
            }
        }
    }


</style>