<template>
  <div class="project__wrapper">
    <div class="hamburger-keeper" :style="{backgroundColor:'black'}"></div>
    <div v-if="post">
      <h1>{{ post ? post.fields.title : ""}}</h1>
      <hr>
      <h2>Description</h2>
      <div class="content" v-html="postContent"></div>
      <h2 v-if="post.fields.tools">Outils utilisés</h2>
      <div class="tools_container">
        <img
          v-for="(t,index) in post.fields.tools"
          :key="index"
          :src="t.fields.file.url"
          :alt="t.fields.title"
        >
      </div>
      <h2>Images</h2>
      <div class="images_container">
        <a v-for="(p,i) in post.fields.images" :key="i" :href="p.fields.file.url" target="_blank">
          <img :src="p.fields.file.url" :alt="p.fields.title">
        </a>
      </div>
    </div>
    <h1 v-else>Projet introuvable !</h1>
    <backButton></backButton>
  </div>
</template>

<script>
import client from "~/plugins/contentful";
import backButton from "@/components/backButton";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
export default {
  layout: "new",
  data() {
    return {};
  },
  components: {
    backButton
  },
  asyncData({ params, error, payload }) {
    if (payload) return { post: payload };

    return client
      .getEntries({
        content_type: "projects",
        "fields.slug": params.slug
      })
      .then(entries => {
        return {
          post: entries.items[0],
          postContent: documentToHtmlString(entries.items[0].fields.content)
        };
      })
      .catch(e => console.log(e));
  },
  head() {
    return {
      title: this.post ? `${this.post.fields.title} ::` : "Page introuvable!"
    };
  }
};
</script>
<style lang="scss">
@import "../../assets/scss/main";

.hamburger-keeper {
  height: 50px;
  position: fixed;
  right: 0;
  border-bottom-left-radius: 10px;
  top: 0;
  width: 50px;
  padding: 37px;
  padding-left: 25px;
  padding-bottom: 15px;
  z-index: 3;
}
.project__wrapper {
  color: white;
  font-family: Helvetica;
  padding: 150px;
  padding-top: 50px;
  width: 100vw;
  overflow: hidden;
  @media screen and (max-width: 790px) {
    padding: 100px;
    padding-top: 50px;
  }
  @media screen and (max-width: 550px) {
    padding: 50px;
    padding-top: 50px;
  }
  box-sizing: border-box;
  padding-bottom: 30px;
  p {
    margin: 0;
  }
  .tools_container {
    opacity: 0;
    animation: appear 1s forwards;
    flex-wrap: wrap;
    animation-delay: 0.7s;
    display: flex;
    img {
      margin-right: 30px;
      max-height: 65px;
    }
  }
  h1 {
    animation: appear 1s forwards;
    text-align: center;
    margin: 0;
    margin-top: 50px;
  }
  hr {
    margin: 50px auto;
    width: 40%;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.7s;
    background-color: $primary-color;
    color: $primary-color;
  }
  h2 {
    margin: 50px 0;
    color: darken($lighter-color, 50%);
    animation: fadeIn 1s forwards;
    opacity: 0;
    animation-delay: 0.5s;
  }
  .content {
    opacity: 0;
    animation: appear 1s forwards;
    animation-delay: 0.3s;
    width: 100%;
    margin: auto;
    li{
      margin-top: 20px;
    }
    a {
      color: $primary-color;
      text-decoration: none;
      font-weight: bold;
      display: inline-block;
      position: relative;
      &::after{
        content:"";
        left: 0;
        bottom: 0px;
        background-color: $primary-color;
        width: 0;
        height: 2px;
        position: absolute;
        transition: all .3s;
        z-index: 3;
      }
      &:hover{
        &::after{
          width:100%;
        }
      }
    }
  }
  .images_container {
    animation: appear 1s forwards;
    animation-delay: 1s;
    opacity: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;

    @media screen and (max-width: 950px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 700px) {
      grid-template-columns: 1fr;
    }
    a {
      position: relative;
      display: inline-block;
      height: auto;
      overflow: hidden;
      border-radius: 10px;
      height: 300px;
      &::after {
        content: "Voir en plus grand";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: $primary-color;
        background-color: $lighter-color;
        padding: 20px 0;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        opacity: 0;
        transition: all 0.3s;
        font-weight: bold;
        letter-spacing: 3px;
      }

      &:hover {
        &::after {
          opacity: 1;
        }
        img {
          transform: scale(1.1);
          opacity: 0.7;
        }
      }
      img {
        border-radius: 10px;
        text-align: center;
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        transition: all 0.3s;
      }
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      width: 20%;
    }
    to {
      width: 40%;
      opacity: 1;
    }
  }
  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
</style>
