<template>
  <div class="Projectcontainer">
    <div class="hamburger-keeper" :style="{backgroundColor:'black'}"></div>
    <div class="title">
      <h1>Projets</h1>
    </div>
    <div v-if="projects == null" class="loader"></div>
    <div class="filterList">
      <span
        class="filter"
        v-for="(c,index) in categories"
        @click="filterCategory(c)"
        :class="chooseCategories.includes(c) ? 'active' :'' "
        v-bind:key="index"
      >{{c}}</span>
      <span
        class="clear"
        v-if="projects !=null"
        @click="chooseCategories = []"
        :class="chooseCategories.length != 0 ? 'active':''"
      >&#10005;</span>
    </div>
    <projects_grid :modalStatus="false" :categories="chooseCategories" :projects="projects"/>
    <div class="more-content"></div>
  </div>
</template>

<script>
import projects_grid from "../../components/projects-grid";
import popUp from "../../components/popUp";
import pop from "../../components/modal/pop";
import axios from "axios";
import client from "~/plugins/contentful";
export default {
  // Get all my projects from Contentful & categories
  asyncData({ params }) {
    return client
      .getEntries({
        content_type: "projects",
        order: "-sys.createdAt"
      })
      .then(entries => {
        let projects = entries.items;
        let allCategories = projects.map(e =>
          e.fields.categories.map(e => e.fields.categorieName)
        );
        allCategories = allCategories.reduce((a, b) => [...a, ...b], []);
        let categories = [...new Set(allCategories)];
        return { projects: projects, categories: categories.sort() };
      })
      .catch(e => console.log(e));
  },
  components: {
    projects_grid,
    popUp,
    pop
  },
  head: {
    title:
      "Projets ::",
    meta: [
      { charset: "utf-8" },
      { name: "viewport", content: "width=device-width, initial-scale=1" },
      {
        hid: "description",
        name: "description",
        content:
          "Axel André, passionné du monde digitale réalisant du développement web. Vous pouvez retrouver sur cette page mes différentes réalisations en Design et Développement Back-end / Front-end."
      }
    ]
  },
  name: "index",
  layout: "new",
  data() {
    return {
      projects: null,
      categories: {},
      chooseCategories: [],
      selectedItem: null
    };
  },
  methods: {
    // Filter all my categories
    filterCategory(selectedCategorie) {
      // if (
      //   this.chooseCategories.includes(selectedCategorie.id) &&
      //   categorieIndex !== -1
      // ) {
      //   this.chooseCategories.splice(categorieIndex, 1);
      // } else {
      //   this.chooseCategories.push(selectedCategorie.id);
      // }
      if (this.chooseCategories.includes(selectedCategorie)) {
        var index = this.chooseCategories.indexOf(selectedCategorie);
        this.chooseCategories.splice(index,1);
      } else this.chooseCategories.push(selectedCategorie);
    },
    insertCategories() {
      let allCategories = this.projects.map(e =>
        e.fields.categories.map(e => e.fields.categorieName)
      );
      allCategories = allCategories.reduce((a, b) => [...a, ...b], []);
      this.categories = [...new Set(allCategories)];
    }
  },
  afterUpdate() {
    this.insertCategories();
  }
};
</script>

<style scoped lang="scss">
@import "../../assets/scss/main";

.loader {
  $loaderSize: 50px;
  $loaderBorder: 10px;
  width: $loaderSize;
  height: $loaderSize;
  background: linear-gradient($primary-color, rgba(52, 52, 52, 0));
  background: linear-gradient($primary-color, rgba(52, 52, 52, 0));
  margin: 50px auto auto;
  border-radius: 30px;
  position: relative;
  animation: loader 1s infinite ease-out;
  &:after {
    content: "";
    position: absolute;
    height: $loaderSize - $loaderBorder;
    width: $loaderSize - $loaderBorder;
    border-radius: 30px;
    margin: $loaderBorder / 2;
    background-color: black;
    
  }
}

.Projectcontainer {
  background-color: black;
  min-height: 100vh;
  padding-bottom: 100px;
  p {
    color: white;
    text-align: center;
  }
  .filterList {
    display: flex;
    justify-content: space-between;
    font-family: Helvetica;
    span {
      letter-spacing: 1.92px;
      color: white;
      border: 1px solid white;
      padding: 10px 15px;
      cursor: pointer;
      border-radius: 2px;
      transition: 0.3s all;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none;
      &.active {
        background-color: $primary-color;
        border-color: $primary-color;
      }
      &.clear {
        border-color: $primary-color;
        color: $primary-color;
        opacity: 0.3;
        cursor: not-allowed;
        &.active {
          cursor: pointer;
          background-color: transparent;
          opacity: 1;
        }
      }
    }
    font-family: "Helvetica Neue";
    width: 19.5vw * 3;
    font-weight: normal;
    font-size: 1vw;
    text-transform: uppercase;
    margin: auto;
    margin-top: 50px;
  }
  .hamburger-keeper {
    height: 50px;
    position: fixed;
    right: 0;
    border-bottom-left-radius: 10px;
    top: 0;
    width: 50px;
    padding: 37px;
    padding-left: 25px;
    padding-bottom: 15px;
    z-index: 3;
  }
  h1 {
    margin: 0;
    display: inline-block;
    position: relative;
    color: white;
    &::before {
      content: "";
      height: 7px;
      animation: filling 1s forwards;
      background-color: $primary-color;
      left: 3px;
      position: absolute;
      bottom: -2px;
    }
    &::selection {
      text-shadow: 3px 3px 0px $primary-color;
    }
  }
  .title {
    text-align: center;
    font-family: "Helvetica Neue";
    font-weight: bold;
    padding-top: 50px;
    font-size: 25px;
  }
  .more-content {
    pointer-events: none;
    background: linear-gradient(rgba(255, 255, 255, 0), black);
    position: fixed;
    width: 100vw;
    height: 100px;
    bottom: 0;
    left: 0;
  }
}

@keyframes filling {
  from {
    width: 0;
  }
  to {
    width: 70px;
  }
}

@media screen and (max-width: 950px) {
  .filterList {
    flex-direction: column;
    text-align: center;
    justify-content: normal;

    .filter {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .clear {
      font-size: 20px;
    }
  }
  .Projectcontainer {
    .title {
      padding-top: 100px;
    }
  }
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>