<template>
    <div class="about">
        <modal :status="modal" :title="modalContent.title" :buttons="modalContent.buttons"
               :content="modalContent.content" @click="modal = false"/>
        <mini-banner/>
        <div class="filter">Filtres :
            <ul class="filter-list">
                <li v-for="(filterName,index) in categories" @click="setFilter(filterName)" v-bind:key="index"
                    :class="currentFilter == filterName ? 'active' : ''">{{filterName}}
                </li>
            </ul>
        </div>

        <transition-group  name="list-complete" tag="div" class="project-list">
            <project_item  class="list-complete-item" v-for="(project, index) in shownProjects" v-bind:key="index"
                          @click.native="showModal(project.name,project.text,project.buttons)" :project="project"/>
        </transition-group>
    </div>
</template>~
<script>
    import miniBanner from '../../components/miniBanner.vue'
    import modal from '../../components/modal/pop.vue'
    import project_item from '../../components/projectItem.vue'
    import cv from '../../components/cv.vue'

    export default {
        components: {
            miniBanner,
            modal,
            project_item,
            cv

        },
        layout: "App",
        head() {
            return {
                title: "Réalisations > Portfolio de Axel André • Développeur Front-end • Développeur Back-end • Webdesigner",
                meta: [
                    {hid: 'description', name: 'description', content: 'Ma description personnalisée'}
                ]
            }
        },
        data: () => {
            return {
                categories: [
                    "web",
                    "design",
                    "audiovisuel",
                    "écriture",
                ],
                currentFilter: null,
                projects: [
                    {
                        name: "Let's Walk", categorie: ["design", "web"], text: "" +
                        "Durant mon stage dans l'entreprise <a href='http://letswalk.fr' target='_blank'>Let's Walk</a>," +
                        " j'ai eu l'occasion de travailler dans divers domaines liés au Web : La conception de maquettes pour une application mobile; L'hébergement d'une API PHP sous Laravel ainsi que le design et le développement du site vitrine de l'application",
                        buttons: [
                            {
                                name: "Voir les maquettes",
                                url: require('../../assets/skills.jpg')
                            },
                            {
                                name: "Voir le site",
                                url: "http://letswalk.fr"
                            }
                        ],
                        img: require('../../assets/screenslw.png')

                    },
                    {
                        name: "RUN Vasya RUN", categorie: ["design"], text: "" +
                        "J'ai eu l'occasion lors du projet international <a href='https://ggulivrr.uni.lodz.pl/' target='_blank'>GGULIVRR</a> qui à eu lieu en 2018 à Lodz en Pologne, de <b>designer un jeu mobile</b>.<br>" +
                        "Le projet durait 7 jours et j'ai du créer toute l'identité graphique, en partant du de la création du logo et de la charte de graphique jusqu'à la conception d'une interface in-game. Ce projet impliquait différentes compétences : conception UX et UI, création de persona et de diagrammes d'utilisation (flow chart).",
                        buttons: [
                            {
                                name: "Voir les maquettes",
                                url: require('../../assets/skills.jpg')
                            }
                        ],
                        img: require('../../assets/runvasya.png')

                    },
                    {
                        name: "Pave The Way", categorie: ["design","web"], text: "" +
                        "Durant mon stage dans l'entreprise <a href='http://letswalk.fr' target='_blank'>Let's Walk</a>," +
                        " j'ai eu l'occasion de travailler dans divers domaines liés au Web : La conception de maquettes pour une application mobile; L'hébergement d'une API PHP sous Laravel ainsi que le design et le développement du site vitrine de l'application",
                        buttons: [
                            {
                                name: "Voir les maquettes",
                                url: require('../../assets/skills.jpg')
                            },
                            {
                                name: "Voir le site",
                                url: "http://letswalk.fr"
                            }
                        ],
                        img: require('../../assets/skills.jpg')

                    },
                    {
                        name: "Elle viendra quand même", categorie: ["design"], text: "" +
                        "Durant mon stage dans l'entreprise <a href='http://letswalk.fr' target='_blank'>Let's Walk</a>," +
                        " j'ai eu l'occasion de travailler dans divers domaines liés au Web : La conception de maquettes pour une application mobile; L'hébergement d'une API PHP sous Laravel ainsi que le design et le développement du site vitrine de l'application",
                        buttons: [
                            {
                                name: "Voir les maquettes",
                                url: require('../../assets/skills.jpg')
                            },
                            {
                                name: "Voir le site",
                                url: "http://letswalk.fr"
                            }
                        ],
                        img: require('../../assets/skills.jpg')

                    },
                    {
                        name: "Collisée de Lens", categorie: ["design"], text: "" +
                        "Durant mon stage dans l'entreprise <a href='http://letswalk.fr' target='_blank'>Let's Walk</a>," +
                        " j'ai eu l'occasion de travailler dans divers domaines liés au Web : La conception de maquettes pour une application mobile; L'hébergement d'une API PHP sous Laravel ainsi que le design et le développement du site vitrine de l'application",
                        buttons: [
                            {
                                name: "Voir les maquettes",
                                url: require('../../assets/skills.jpg')
                            },
                            {
                                name: "Voir le site",
                                url: "http://letswalk.fr"
                            }
                        ],
                        img: require('../../assets/skills.jpg')

                    },
                    {
                        name: "Steamfie", categorie: ["design"], text: "" +
                        "Durant mon stage dans l'entreprise <a href='http://letswalk.fr' target='_blank'>Let's Walk</a>," +
                        " j'ai eu l'occasion de travailler dans divers domaines liés au Web : La conception de maquettes pour une application mobile; L'hébergement d'une API PHP sous Laravel ainsi que le design et le développement du site vitrine de l'application",
                        buttons: [
                            {
                                name: "Voir les maquettes",
                                url: require('../../assets/skills.jpg')
                            },
                            {
                                name: "Voir le site",
                                url: "http://letswalk.fr"
                            }
                        ],
                        img: require('../../assets/skills.jpg')

                    },
                    {
                        name: "Photographie et mise en scène", categorie: ["écriture"], text: "" +
                        "Durant mon stage dans l'entreprise <a href='http://letswalk.fr' target='_blank'>Let's Walk</a>," +
                        " j'ai eu l'occasion de travailler dans divers domaines liés au Web : La conception de maquettes pour une application mobile; L'hébergement d'une API PHP sous Laravel ainsi que le design et le développement du site vitrine de l'application",
                        buttons: [
                            {
                                name: "Lire l'article",
                                url: "http://letswalk.fr"
                            }
                        ],
                        img: require('../../assets/skills.jpg')

                    },{
                        name: "Redesign de l'app Youtube", categorie: ["design"], text: "" +
                        "Durant mon stage dans l'entreprise <a href='http://letswalk.fr' target='_blank'>Let's Walk</a>," +
                        " j'ai eu l'occasion de travailler dans divers domaines liés au Web : La conception de maquettes pour une application mobile; L'hébergement d'une API PHP sous Laravel ainsi que le design et le développement du site vitrine de l'application",
                        buttons: [
                            {
                                name: "Voir les maquettes",
                                url: require('../../assets/skills.jpg')
                            }
                        ],
                        img: require('../../assets/skills.jpg')

                    }
                ],
                shownProjects: null,
                modal: false,
                modalContent: {
                    title: "Présentation",
                    content: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut excepturi sit beatae molestias perspiciatis nisi dolor, est saepe dolorem, cupiditate, animi rerum impedit quibusdam accusantium repellat a quae explicabo error?",
                    buttons: null
                }
            }
        },
        computed: {},
        methods: {
            setFilter: function (filterName) {
                if (this.currentFilter != filterName) {
                    this.currentFilter = filterName;
                } else {
                    this.currentFilter = null;
                }

                this.filterCategorie();
                this.modal = false;
            },
            filterCategorie: function () {
                let that = this;
                if (this.currentFilter != null) {
                    this.shownProjects = this.projects.filter(p => p.categorie.includes(that.currentFilter));
                } else {
                    this.shownProjects = this.projects;
                }
            },
            showModal: function (title, content, buttons) {
                this.setModalContent(title, content, buttons)
                this.modal = false;
                this.modal = true;
            },
            setModalContent: function (title, content, buttons) {
                this.modalContent.content = content;
                this.modalContent.buttons = buttons;
                this.modalContent.title = title;
            }
        },
        beforeMount() {
            let that = this;
            setTimeout(function(){
                that.filterCategorie();
            }, 10);
        },
        beforeCreate() {
            //this.filterCategorie();
        }
    }

</script>
<style lang="scss" scoped>
    @import "../../assets/var";

    h1 {
    }

    .about {
    }

    .filter {
        text-align: left;
        margin-left: $second-offset;
        margin-right: auto;
        color: $primary-color;
        text-transform: uppercase;
        font-weight: bold;

        .filter-list {
            list-style: none;
            display: inline-block;
            padding-left: $general-offset;
            font-weight: 600;
            li {
                cursor: pointer;
                transition: all .3s;
                &:hover {
                    transform: translateY(-5px);
                }
                &.active {
                    background-color: $primary-color;
                    color: white;
                }
                display: inline-block;
                padding: 10px 20px;
                border: 2px solid $primary-color;
                list-style: none;
                margin-right: 20px;
                margin-bottom: 20px;

            }
        }
    }

    .project-list {
        display: flex;
        flex-direction: row;
        margin-left: $second-offset;
        justify-content: space-around;
        padding: 50px;
        flex-wrap: wrap;
        margin: auto;
    }

    .list-complete-enter, .list-complete-leave-to, .list-complete-leave
        /* .list-complete-leave-active below version 2.1.8 */
    {
        opacity: 0;
        transform: translateY(30px) scale(0);
    }

    list-comptete-enter-active {
        transform: translateY(30px) scale(0);

    }

    .list-complete-leave-active {
        position: absolute;
    }

    @media (max-width: $first-breakpoint) {
        .filter {
            margin-left: 0px;
            .filter-list {
                padding-left: 0px;
            }
        }
    }
</style>

