//$primary-color: #7c52ff;

//$primary-color: rgb(255, 86, 34);
$primary-color: #171717;

//Offsets
$general-offset: 16px;
$second-offset: $general-offset+50px;
$mini-offset: 16px;

//Breakpoints
$first-breakpoint: 500px;
