<template>
    <div id="app">
        <sideBar/>
        <Menu :menuIsActive="menuIsActive" :background="background"/>
        <div class="container">
            <transition name="fade" mode="out-in">
                <nuxt/>
            </transition>
        </div>
    </div>
</template>

<script>
    import sideBar from '../components/sideBar.vue'
    import banner from '../components/banner.vue'
    import Menu from '../components/Menu.vue'


    export default {
        data: function () {
            return {
                menuIsActive: false,
                animated: false,
                background: "dark"
            }
        },
        methods: {
            coucou: function () {
                this.menuIsActive = !this.menuIsActive;
            },
            changePage: function () {
                this.animated = !this.animated;
                this.menuIsActive = false;
            }
        }
        ,
        components: {
            sideBar,
            banner,
            Menu
        }
    }
</script>
<style lang="scss" scoped>
    .fade-enter-active, .fade-leave-active {
        transition: all .5s;

    }


    .fade-enter /* .fade-leave-active below version 2.1.8 */
    {
        transform: translateY(-20px);
        opacity: 0;
    }

    .fade-leave-to {
        opacity: 0;
        transform: translateY(20px);
    }

    p {
        transition: all .3s;
        &.active {
            color: blue;
        }
    }

    @media (max-width: 900px) {
        .container {
            position: absolute;
            left: 0;
            width: 100vw;
            height: 100vh;
            .content {
                height: 100%;
                margin-top: -50px;
                padding-bottom: 20px;
                overflow: hidden;
            }
        }
    }
</style>

