<template>
  <div>
    <modal :isMenuActive="isMenuActive"/>
    <transition name="fade" >
      <nuxt/>
    </transition>
  </div>
</template>

<script>
import hamburger from "../components/hamburger";
import modal from "../components/modal";

export default {
  name: "new",
  loading: {
    color: "#D0021B",
    height: "5px"
  },
  components: {
    hamburger,
    modal
  },
  data: function() {
    return {
      isMenuActive: false
    };
  },
  methods: {
    changeMenuState: function() {
      this.isMenuActive = !this.isMenuActive;
    }
  }
};
</script>

<style lang="scss">
html,
body {
  background-color: black;
  overflow-x: hidden;
}
* {
  @media screen and (max-width: 500px) {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
}
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.8s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.5s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}
</style>