<template>
        <div class="modal"><span class="cross" @click="$emit('close')">&#10005;</span>
            <div class="modal-title">
                {{title}}
            </div>
            <div v-html="content" class="modal-content" :class="status ? 'active': '' ">

            </div>
            <ul v-if="buttons != null">
                <a v-for="(button,index) in buttons" v-bind:key="index" target="_blank" :href="button.url">
                </a>
            </ul>
        </div>
</template>
<script>

    export default {
        name: 'modal',
        components: {
        },
        props: {
            buttons: {
                default: null,
                type: Array
            },
            title: {
                default: "Title",
                type: String
            },
            content: String
        },
        methods: {
            changeIt: function () {
                this.status = false;
            }
        }
    }
</script>
<style scoped lang="scss" >
    @import "../../assets/scss/main";

    .cross {
        cursor: pointer;
        font-size: 50px;
        color: $primary-color;
        margin-right: 20px;
    }

    .modal {
        font-family: "Helvetica Neue";
        border: 5px solid $primary-color;
        text-align: right;
        position: fixed;
        padding-bottom: 50px;
        top: 50px;
        right: 10%;
        left: 10%;
        background-color: rgb(249, 249, 249);
        box-shadow: 0px 20px 40px -20px rgba($primary-color,.4) ;
        z-index: 12;

        // border: 2px solid red;
        &-title {
            color: lighten(black, 20%);
            font-family: "Helvetica Neue";
            font-weight: bold;
            text-align: center;
            font-size: 25px;
            text-transform: uppercase;
            padding-bottom: 20px;
        }
        &-content {
            text-align: left;
            padding: 60px 50px;
            max-width: 1124px;
            margin: auto;
            overflow-y: scroll;
            overflow-x: hidden;
            height: 400px;
            a{
                text-decoration: none;
                position: relative;
                cursor: pointer;
                color: $primary-color;
                font-weight: 600;
            }
            &.active a:after {
                pointer-events: none;
                content: "";
                position: absolute;
                background-color: $primary-color;
                left: 0;
                bottom: 0;
                height: 12%;
                width: 0%;
                z-index: -1;
                mix-blend-mode: normal;
                animation: Bigger .5s forwards;
                animation-delay: .2s;
            }

        }
    }

    ul {
        a {
            text-decoration: none;
            margin-right: 16px
        }
    }
    @keyframes Bigger {
        from{
            width: 0;
        }
        to{
            width: 100%;
        }
    }
    @media (max-width: 900px) {
        .modal{
            top: 0px;
            left: 0px;
            right: 0px;
            padding: 0;
        }
        ul{
            a{
                display: block;
                margin-bottom: 40px;
            }
        }

    }
    .fade-enter-active, .fade-leave-active{
        transition: all .5s;

    }

    .fade-enter-active{
        // transition-delay: 1s;

    }

    .fade-enter/* .fade-leave-active below version 2.1.8 */
    {
        transform: translateY(-20px);
        opacity: 0;
    }

    .fade-leave-to{
        opacity: 0;
        transform: translateY(20px);
    }
</style>
