<template>
    <div class="container">

        <h1>Je suis Axel André,<br> un <strong>Webdesigner</strong> / <strong>Développeur Web</strong>.</h1>
        <h2>À la recherche de la meilleur expérience possible pour l'utilisateur.</h2>
        <div class="contact">
            <div class="socials">

                <a :title="lien.alt" :href="lien.href" target="_blank" v-for="(lien,index) in liens" :key="index" class="social">
                    <img :alt="lien.alt"  :src="lien.src" :class="lien.class"/>
                </a>

            </div>

            <div class="classic">

                <div class="classic--item" @click="callTo">
                    <span>+ 33 6 25 57 29 23</span><img src="../assets/img/phone-font-awesome.png"
                                                        class="phone---FontAwesome"
                                                        alt="Numéro de téléphone d'Axel André">
                </div>
                <div class="classic--item"  @click="mailTo">
                    <a>
                        <span>axel.andre.contact@gmail.com</span></a><img src="../assets/img/ion-ios-email-ionicons.png"

                                                                          class="ion-ios-email---Ionicons" alt="Email d'Axel André">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "index",
        layout: "new",
        head: {
            title:
                "Axel André • Webdesigner • Developpeur Front-end / Back-end",
            meta: [
                { charset: "utf-8" },
                { name: "viewport", content: "width=device-width, initial-scale=1" },
                {
                    hid: "description",
                    name: "description",
                    content:
                        "Axel André, passionné du monde digitale réalisant du développement web. Vous pouvez retrouver sur cette page mes différentes réalisations en Design et Développement Back-end / Front-end."
                }
            ]
        },
        data: () => {
            return {
                liens: [
                    {
                        src: require("../assets/img/behance-font-awesome.png"),
                        href: "https://www.behance.net/98axelandr06fb",
                        class: "behance---FontAwesome",
                        alt:"Behance d'Axel André"
                    },
                    {
                        href: "https://www.facebook.com/98.axel.andre",
                        src: require("../assets/img/ion-social-facebook-ionicons.png"),
                        class: "behance---FontAwesome",
                        alt:"Facebook d'Axel André"
                    },
                    {
                        src: require("../assets/img/linkedin-font-awesome.png"),
                        href: "https://www.linkedin.com/in/axel-andr%C3%A9-55b527158/",
                        class: "behance---FontAwesome",
                        alt:"LinkedIn d'Axel André"
                    },
                ]
            }
        },
        methods: {
            setBgColor: function () {
                this.$emit('changebg')
            },
            mailTo:function(){
                window.location.href = "mailto:axel.andre.contact@gmail.com";
            },
            callTo:function(){
                window.location.href = "tel:+33625572923";
            }
        },
        created: function () {
            this.setBgColor('light')
        }
    }
</script>

<style scoped lang="scss">
    @import "../assets/scss/main";

    .container {
        min-height: 100vh;
        background-color: $darker-color;
        font-weight: 600;
        position: absolute;
        width: 100vw;
    }

    h1 {

        margin: 0;
        font-family: Helvetica;
        font-size: 3vw;
        margin-left: 50px;
        margin-top: 200px;
        color: white;
        position: relative;
        &::selection {
            text-shadow: 5px 5px 0px $primary-color;
        }
        & strong::selection{
                text-shadow: 5px 5px 0px $primary-color;
        }
    }

    h1::after {
        content: '';
        position: absolute;
        height: 3.5vw;
        width: 4px;
        background-color: $primary-color;
        bottom: 8px;
        margin-left: 20px;
        animation: blink 1s infinite;
    }

    h2 {
        color: #7e7e7e;
        font-family: "Helvetica Neue";
        font-weight: normal;
        margin-left: 50px;
        &::selection {
            background-color: $primary-color;
            color: white;
        }
    }

    .hamburger {
        height: 3px;
        background-color: white;
        width: 37px;
        margin-left: auto;
        position: relative;
        transition: .2s all;
    }

    .menu {
        cursor: pointer;
        mix-blend-mode: exclusion;
        position: relative;
        padding-top: 37px;
        padding-right: 37px;
    }

    .menu:hover .hamburger {
        width: 45px;
    }

    .menu:hover .hamburger::before {
        width: 45px;
    }

    .hamburger::after {
        content: '';
        position: absolute;
        top: 0px;
        right: 0;
        height: 3px;
        background-color: white;
        width: 45px;
        margin-top: 12px;
    }

    .hamburger::before {
        content: '';
        position: absolute;
        top: 0px;
        right: 0;
        height: 3px;
        background-color: white;
        width: 25px;
        margin-top: 24px;
        transition: .2s all;
    }

    .menu {
        height: 50px;
        margin-left: auto;
        width: 50px;
    }

    .contact {
        display: flex;
        width: 100%;
        position: absolute;
        padding-bottom: 37px;
        bottom: 0;
        justify-content: space-between;
    }

    .classic {
        padding-right: 37px;
    }

    .classic--item img {
        width: auto;
        display: inline-block;

    }

    .classic--item span {
        color: white;
        font-family: "Helvetica Neue";
        font-weight: normal;
        font-size: 27px;
        margin-right: 25px;
        line-height: 40px;
    }

    .socials {
        padding-left: 37px;
        display: flex;
        height: 40px;
    }

    .socials img {
        margin-right: 42px;
        display: block;
        margin: auto;
    }

    .social {
        cursor: pointer;
        width: 72px;
        position: relative;
    }

    .social::after {
        content: "";
        background-color: $primary-color;
        mix-blend-mode: lighten;
        height: 4px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: 55px;
        transition: all .2s;
        z-index: 0;
    }

    .social:hover::after {
        height: 60px;

    }

    .classic--item {
        transition: all .2s;
        position: relative;
        width: auto;
        margin-bottom: 20px;
    }

    .classic--item:first-child {
        margin-right: 0;
        margin-left: auto;
        width: 285px;
    }

    .classic--item::after {
        transition: all .2s;

        content: "";
        background-color: $primary-color;
        mix-blend-mode: lighten;
        height: 4px;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 105%;
    }

    .classic--item:hover::after {
        height: 55px;

    }

    .linkedin---FontAwesome {
        width: 31px;
        height: 30px;
        object-fit: contain;

    }

    .linkedin---FontAwesome::after {
        content: "hi";
        color: $primary-color;
    }

    .behance---FontAwesome {
        width: 47px;
        height: 30px;
        object-fit: contain;
    }

    .ion-social-facebook---Ionicons {
        width: 15px;
        height: 30px;
        object-fit: contain;
    }

    .phone---FontAwesome {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    .ion-ios-email---Ionicons {
        width: 45px;
        height: 30px;
        object-fit: contain;
    }

    .classic--item a {
        display: inline-block;
        text-decoration: none;
    }

    @keyframes emphasis {
        0% {
            transform: translate(0);
            text-shadow: 0px 0px 0px $primary-color;
        }
        50% {
            text-shadow: 5px 5px 0px $primary-color;
            transform: translate(-3px, -3px);
        }
        70% {
            text-shadow: 5px 5px 0px $primary-color;
            transform: translate(-3px, -3px);
        }
        100% {
            transform: translate(0);
            text-shadow: 0px 0px 0px $primary-color;
        }
    }

    @keyframes blink {
        0% {
            opacity: 1;
        }
        30% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        70% {
            opacity: 1;
        }
        0% {
            opacity: 1;
        }
    }
    @media screen and (max-width: 360px){
        .container{
            h1{
                margin-top: 120px;
            }
        }
        .contact{
            padding-bottom: 60px;
        }
    }
    @media screen and (max-width: 732px) {
        h1 {
            margin-left: 0px;
            font-size: 30px;
            text-align: center;
            padding: 0 40px;
            &::after {
                height: 30px;
                bottom: 5px;
                margin-left: 10px;
            }
        }

        h2 {
            margin-left: 0px;
            font-size: 15px;
            text-align: center;
            padding: 0 40px;
        }


        .classic--item span {
            display: none;
        }

        .classic--item {
            width: 45px;
        }

        .classic--item:first-child {
            width: 45px;
        }
    }

    @media screen and (max-width: 880px) {
        h1 {
            margin-top: 150px;
            margin-left: 0px;
            text-align: center;

             &::after {
                height: 30px;
                bottom: 5px;
                margin-left: 10px;
            }
        }

        h2 {
            margin-left: 0px;
            text-align: center;
        }

    }
</style>